.ellipsis {
	position: relative;
	height: 72px;
	overflow: hidden;
	line-height: 36px;
	margin-right: 30px;
}

.ellipsis:before, .ellipsis:after {
	position: absolute;
	background: #fafafa;
}
.consideration-schedule .ellipsis:before, .consideration-schedule .ellipsis:after {
	position: absolute;
	background: #fafafa;
}

.ellipsis:before {
	content: "...";
	bottom: 0;
	right: 0;
}

.ellipsis:after {
	content: "";
	width: 100%;
	height: 100%;
}